*{
    padding: 0;
    margin: 0;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    
}



.main-container{
    padding: 0;
    max-height: 100%;
    height: 100vh;        
    overflow: hidden; 

}
/***** Header Area *****/
.navbar{
    background-color: #ffff;
    position: sticky;
    box-shadow: 10px #000;
    padding: 10px 12px;
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: space-between;
    
}
.left-side{
    display: flex;
    align-items: center;
    gap: 10px;
}
.left-side img{
    width: 40px;
    align-self: center;


}
.seach-bar{
    display: flex;
    background-color: #f3f3f3;
    padding: 10px 20px;
    border-radius: 20px;
    width: 200px;
    gap: 5px;
}
.seach-bar img{
    width: 20px;
}
.seach-bar input{
    border: transparent;
    background-color: transparent;
    outline: transparent;
}

.center-side ul{
    list-style: none;
    display: flex;
    gap: 80px;
    
}
.center-side img{
    width: 26px;
}
.right-side{
    display: flex;
    gap: 8px;
    align-items: center;
}

.right-side span{
    background-color: #f3f3f3;
    padding: 8px 10px;
    border-radius: 50%;
}
.right-side img{
    width: 22px;
}
.notification{
    background: red !important;
    color: white;
    border-radius: 40px;
    position: absolute;
    font-size: 12px;
    right: 50px;
    top: 2px;
    padding: 5px !important;

}
.profile{
    padding: 0 !important;
}
.profile img{
    object-fit: cover;
    border-radius: 50%;
    width: 40px
}


/***** Content Area  ****/

.parent-conainer{
    background-color: #eff2f3;
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
}
.left-sidebar{
    width: 25%;
    padding: 6px 3px;
    
}
.left-sidebar ul li {
    list-style: none;
    
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 20px;
    /* background-color: #dcdee0; */
    padding-left: 5px;
    border-radius: 10px;
}

.left-sidebar ul li a{
    text-decoration: none;
    color: #000;
}
.left-sidebar-items{
    display: flex;
    gap: 18px;
    align-items: center;
}
.left-sidebar-items p{
    font-size: 15px;
    font-weight:500;
}
.left-sidebar-items img{
    width: 34px;
    height: 34px;
    border-radius: 50%;
}
.see-more{
    background-color: #d9d9d9;
    border-radius: 50%;
    padding: 7px 9px;
    align-items: center;
}
.see-more img{
    width: 15px;
    height: 15px;
}
.bottom{
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* or space-evenly */
    height: 44%; /* ensure it has a height to work with */
}
.bottom-left-items{
    margin-top: 15px;
}
.bottom-left-heading{
    display: flex;
    justify-content: space-between;
}
.bottom-left-heading h4{
    color: gray;
    font-size: 18px;
    font-weight: 300;
}
.bottom-left-heading a{
    color: rgb(118, 171, 245);
}
.footer{
    
    font-size: 14px;
    color: gray;
}
.footer span{
    display: flex;
    flex-wrap: wrap; /* enables wrapping */
    list-style: none;
    gap: 0.25rem 0.5rem; /* vertical gap, horizontal gap */
    padding: 0;
    margin: 0;
}

.footer span a {
    font-size: 14px;
    color: gray;
    text-decoration: dashed !important;
}
.main-area{
    width: 50%;
    
}
.content{
    margin-top: 15px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.create-post {
    background-color: #fff;
    padding: 10px;
    border-radius: 11px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15); /* smooth subtle shadow */
}

.create-profile{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    padding: 0 10px;
}
.create-profile img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.create-profile input{
    outline: transparent;
    border: transparent;   
    background-color: #eff2f3;
    border-radius: 20px ;
    width: 90%;
}
.create-profile input[type="text"] {
    padding-left: 10px;
    font-size: 17px;
    font-weight: 100;
}
.create-links ul{
    display: flex;
   padding: 15px;

    align-items: center;
    justify-content: space-evenly;
}
.create-links ul li{
    list-style: none;
    
    padding-right: 40px;
}
.create-icons{
    display: flex;
    align-items: center;
    gap: 10px;
}
.create-icons p{
    color: gray;
}
.create-icons img{
    width: 20px;
    height: 20px;
}

.right-sidebar{
    width: 25%;
    
}
